.vote-button.is-active {
  border: 1px solid blue;
}

.vote-holder {
  border: 1px solid var(--border-color);
  padding: 0 4px;
  border-radius: 100px;
  font-size: 12px;
  font-weight: 500;
  height: 26px;
}

.pill-vote-button, .answer-button, .close-button, .delete-button {
  border: 1px solid var(--border-color);
  padding: 3px 5px 3px 4px;
  border-radius: 100px;
  font-size: 12px;
  font-weight: 500;
  color: var(--color-fg-subtle);
  fill: var(--color-fg-subtle);
  display: flex;
  align-items: center;
  cursor: pointer;
  gap: 4px;
  line-height: normal;
  transition: all 300ms;
  // transition: background-color 150ms;
  &:hover {
    background-color: var(--top-bar-background-hover);
    text-decoration: none;
    fill: var(--color-fg-subtle);
  }
  &.danger:hover {
    background-color: rgba(225, 98, 89, 0.1);
    border: 1px solid rgba(225, 98, 89, 0.2);
    fill: rgba(225, 98, 89, 0.4);
  }
  &.answered:hover {
    background-color: rgba(87, 171, 90, 0.18);
  }
  .js-upvote-count, .button-label {
    color: var(--color-fg);
    padding: 0 4px;
  }
  &.answered {
    fill: var(--color-green);
    background-color: var(--color-green-bg);
    border: 1px solid var(--color-green-bg);
    .button-label {
      color: var(--color-green);
      font-weight: 600;
    }
  }
  &.active {
    fill: var(--color-fg-blue);
    background-color: var(--color-bg-blue);
    border: 1px solid var(--color-bg-blue);
    .js-upvote-count {
      color: var(--color-fg-blue);
      font-weight: 600;
    }
  }
}

.deleted-label {
  font-weight: 600;
  color: var(--color-red);
}

.post-container {
  border: 1px solid var(--border-color);
  border-radius: 6px;
  background-color: var(--bg-color-light);
  .actions {
    margin: 8px;
  }
}

.post-stats {
  margin: 0 16px;
}

.post .post-user-link {
  display: flex;
  align-items: center;
  color: var(--color-fg);
  font-weight: var(--font-weight-semibold);
}
.post .post-user-link:hover {
  text-decoration: underline;
  color: var(--color-fg-blue);
}

.post-avatar {
  border-radius: 100vw;
  margin-right: 8px;
  overflow: hidden;
  // border: 1px solid var(--border-color);
  background-color: var(--border-color);
}
.post .post-timestamp {
  color: var(--color-fg-muted);
}
.post .post-timestamp:hover {
  text-decoration: underline;
  color: var(--color-fg-blue);
}

.post h1.title {
  font-size: 32px;
  margin: 0;
  font-weight: var(--font-weight-normal);
}

.post-byline {
  display: flex;
  gap: 6px;
  color: var(--color-fg-muted);
  margin: 0;
}

.post .post-header {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 8px 16px 0 16px;
  justify-content: space-between;
}

.post .post-body {
  padding: 16px;
  p {
    margin: 0 0 16px 0;
  }
  p:last-child {
    margin: 0;
  }
}

.post-body {
  font-size: 16px;
  blockquote {
    // border-left: 3px solid grey;
    // color            (color :md/blockquote:foreground)
    // color:     rgba(51, 51, 51, 1);

    // background-color:  rgba(51, 51, 51, 0.02);
    // border-left-color: rgba(51, 51, 51, 0.1);
    background-color:  rgba(255, 255, 255, 0.02);
    border-left-color: rgba(255, 255, 255, 0.1);
    border-left-width: 2px;
    border-left-style: solid;
    margin:            1em 0;
    padding:           0 1em;
    text-align:        start;
    overflow: auto;
  }
  a {
    color: var(--color-fg-blue);
    fill: var(--color-fg-blue);
  }
  a:link:hover {
    text-decoration: underline;
  }
}

.post-footer {
  display: flex;
  flex-direction: row;
  // justify-content: space-between;
  // padding: 0 16px 16px 16px;
  gap: 8px;
  padding-top: 16px;
  &:empty {
    display: none;
  }
}

.user-label {
  font-size: var(--font-size-small);
  border-radius: 2em;
  display: inline-block;
  border: 1px solid var(--border-color);
  font-weight: var(--font-weight-medium);
  padding: 0 7px;
}

.post-comments {
  border-top: 1px solid var(--border-color);
  background-color: var(--bg-color);
}

.post .comment-count {
  color: var(--color-fg-muted);
  font-size: var(--font-size-small);
}

.comment-form {
  display: flex;
  flex-direction: column;
}

// .thread-footer {
//   background-color: var(--bg-color-light);
//   padding: 8px;
//   border-top: 1px solid var(--border-color);
// }

.thread-footer {
  padding: 16px 0 0;
}

.thread-footer, .post-comments {
  border-radius: 0 0 6px 6px;
}

.thread-footer textarea, .post-field, .post_title {
  border: 1px solid var(--border-color);
  background: var(--bg-color);
  color: var(--color-fg);
  min-height: 35px;
  height: 35px;
  padding: 8px;
  resize: vertical;
  border-radius: 6px;

  &::placeholder {
    color: var(--color-fg-muted);
  }

  &:focus {
    border-color: var(--color-fg-blue);
  }

  &:focus-visible {
    outline: none;
    inset: 0 0 0 1px var(--color-fg-blue);
  }
}

.thread-footer textarea, .post_title {
  background: var(--text-area-bg);
}

.post-field {
  background: var(--bg-color);
}

.post-field {
  min-height: 100px;
}

.sign-up-to-post {
  background-color: var(--notification-box-bg);
  padding: 1em 1em;
  margin-top: 1em;
  border-radius: 8px;
  border: 1px solid var(--notification-box-border);
  display: flex;
  align-items: center;
  gap: 12px;
  fill: var(--color-fg-subtle);
  a {
    text-decoration: underline;
  }
  a.mochi-button {
    text-decoration: none;
  }
}

.comments-closed-box {
  background-color: var(--notification-box-bg);
  padding: 1em 1em;
  margin-top: 1em;
  border-radius: 8px;
  border: 1px solid var(--notification-box-border);
  display: flex;
  align-items: center;
  gap: 12px;
  fill: var(--color-fg-subtle);
}

.post-show--title {
  font-weight: 600;
  line-height: 1.2;
  margin: 0 0 16px 0;
  font-size: 2em;
  display: flex;
  align-items: center;
  .post-title-icon {
    margin-right: 10px;
  }
  fill: var(--color-fg-subtle);
}

.category-tag {
  padding: 1px 8px 1px 6px;
  border-radius: 100px;
  margin: 0;
  // margin-right: 6px;
  border: none;
}
@media (prefers-color-scheme: dark) {
  body:not(.light) {
    .category-tag {
      border: 1px solid rgba(255,255,255,0.1);
    }
  }
}
@media (prefers-color-scheme: light) {
  body:not(.dark) {
    .category-tag {
      border: 1px solid rgba(0,0,0,0.1);
    }
  }
}

.post-body pre {
  color: var(--code-color); 
  background-color: var(--pre-bg-color);
  border: 1px solid var(--pre-border-color);
  padding: 12px;
  border-radius: 6px;
  margin-top: 20px;
}

.post-separator {
  border-bottom: 1px solid var(--border-color);
  margin: 32px 0;
}

.markdown-tools {
  padding: 1px 8px;
  display: flex;
  align-items: center;
  color: var(--color-fg-muted);
  margin-top: 5px;
  .open-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    color: currentColor;
    fill: currentColor;
    cursor: pointer;
  }
}

.failed-validation {
  border: 1px solid var(--color-red) !important;
}

.form-caption {
  color: var(--color-fg-muted);
  fill: var(--color-fg-muted);
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 3px 8px;
  .md-link {
    display: flex;
    align-items: center;
    gap: 6px;
    font-weight: 500;
    font-size: 12px;
    &:hover {
      color: var(--color-fg-blue);
      text-decoration: none;
    }
  }
  .js-draft-msg {
    display: none;
  }
}

.post-preview.post-body {
  padding: 16px;
  border-bottom: none;
  border: none;
  margin-bottom: 0;
}

.post-form.actions {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 8px;
  margin-top: 16px;
}

.post-field, textarea.form-element {
  font-family: 'Menlo', monospace !important;
}

.form-group.post-title, .form-group.post-tags {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
  label {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 8px;
    color: var(--color-fg-muted);
  }
  .select2-selection {
    background: none;
    border: 1px solid var(--border-color);
    border-radius: 6px;
    input {
      color: var(--color-fg);
    }
  }
  // input.post_title {
  //   border: 1px solid var(--border-color);
  //   border-radius: 6px;
  //   fill: var(--color-fg-subtle);
  //   flex-grow: 1;
  //   padding: 7px 16px 7px 6px;
  //   background: none;
  //   color: var(--color-fg);
  //   border-radius: 6px;
  // }
}

h3.body-label {
  color: var(--color-fg-muted);
}
label.body-label {
  display: block;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 8px;
  color: var(--color-fg-muted);
}

h1.new-post {
  font-size: 1.6em;
  margin: 0;
  margin-bottom: 16px;
}

.post-list--title a {
  &:hover {
    color: unset;
    text-decoration: underline;
  }
}

.no-results {
  color: var(--color-fg-muted);
  padding: 16px;
}

.answer-preview {
  margin: 16px 0;
  border: 1px solid var(--border-color);
  padding: 8px 16px;
  border-radius: 6px;
  // background-color: var(--post-list-hover);
  .answered-by {
    color: var(--color-green);
  }
  p.post-list--content {
    margin: 0;
  }
}
.write-preview-container {
  display: flex;
  flex-direction: column;
  .flex-50 {
    flex: 50;
  }
}

.tag-select-list {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.tag-select {
  border-radius: 600px;
  display: flex;
  flex-direction: row;
  gap: 4px;
  align-items: center;
  padding: 0 10px 1px;
  font-weight: 500;
  input {
    margin: 0;
  }
  color: var(--color-fg);
  border: 1px solid rgba(100,100,100,0.4);
  background: rgba(100,100,100,0.3);
}

.red-tag {
  // color: rgba(222,75,73,1);
  border: 1px solid rgba(222,75,73,0.4);
  background: rgba(222,75,73,0.3)
}
.blue-tag {
  // color: rgba(51,116,169,1);
  border: 1px solid rgba(51,116,169,0.4);
  background: rgba(51,116,169,0.3)
}
